


:root{
    --primary-color:beige;
    --secondary-color:rgb(2, 2, 80);
    --tertiary-color:rgb(181, 1, 1); 
    --quaternary-color:black; 
    --fifth-color:white;      
    --main-font-family: 'Calibri';
      
      
}
header{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 170px;
    align-content: center;
    text-align: center;
    font-size: 40px;
   width: 1500px;
}
h1{
    font-family: "Roboto", sans-serif;
}

main{
    width: 1500px;
    height: 1000px;       
    background-color: var(--tertiary-color);
    display: grid;
    justify-content: center;
    padding-top: 30px;    
}

h2{
    padding: 10px;
    background-color: var(--tertiary-color);
    width: 280px;
    left:5%;
    position: relative;  
}
/*Class aplied to Data*/

.hero1{
    position: relative;
    background-color:var(--secondary-color);
    width: 350px;
    opacity: 0.89;
    bottom:820px;
    color: var(--primary-color);
    font-size: 22px;
    font-family: var(--main-font-family);
    left:5%;
    
}
.h2weat{
    width: 250px;
}

/*class aplied to weather*/
.hero2{
    position: relative;   
    background-color: var(--secondary-color);
    width: 300px;   
    opacity: 0.9;
    bottom:800px;
    color: var(--primary-color);
    font-size: 22px;
    left:75%;
    font-family: var(--main-font-family);
}
footer{
    background-color: var(--tertiary-color);
    width: 1500px;
    height: 150px;
    color: var(--fifth-color);
    font-size: 25px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    display: flex;   
    
}
footer p{    
    margin: 0;
}
li{
    list-style-type: none;
}
.li2hero{
    display:grid;    
    position: relative;
    bottom: 70px;     
}
.icon{    
    position: relative;
    bottom:90px;
    left:60%;
    width: 70px;
    height: 70px;
}
.h2weat::after{
    background-image: url("../imgplace/sunny_icon.svg");
}





