:root{
    --primary-color: #01579b;
    --secondary-color:#ebc107;
    --tertiary-color:#000000; 
    --quaternary-color:#ffffff;
    --fifthy-color:rgb(239, 7, 7);
    --sisthy-color:rgb(13, 1, 52);
    --family-font1:"Roboto", sans-serif;
}
.imghead{
    width: 150px;
    height: 100px;
    padding: 20px;
}
header{
    display: flex;
    background-color: var(--secondary-color);
    height: 140px;
    justify-content: space-between; 
      
}
h1{
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;  
}  

.choose{
    display: grid;
    justify-content: center;    
}
.askoption{    
    font-family: var(--family-font1);    
}

main{
   
    height: 820px;
    margin-top: 10px;
    display: flex;    
}

footer{
    background-color: var(--secondary-color);
    height: 110px;
    color:var(--tertiary-color);
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-top: 10px;
}
footer p{
    margin-bottom: 0;
}
.reference{
    font-size: 20px;
    margin-top: 0;
    color:var(--tertiary-color);
    text-decoration:underline ;
}
.reference:hover{
    color:var(--quaternary-color);
}
/* General styles */
body {
    font-family: "Roboto", sans-serif;
}


.opt1{
    font-size: 20px;
}


