body{
    font-family: "Roboto", sans-serif;;
}
 header,main, footer {
    width: 640px;
    color: black;
    margin: 1rem auto;
    border: 1px solid#01024d;
    padding: 0.1rem;
    background-color: rgb(72, 108, 176);
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:0.2rem;
        
}
section{
    padding: 1rem;
    background-color: #fff;
}
header{
    height: 65px;    
}